<a href="https://colab.research.google.com/github/sea-surface-teleconnections/sea-surface-teleconnections/blob/main/Reference_of_Practicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install & Import Libraries, Dependencies


---



---

In [ ]:
!pip install netCDF4
!pip install nctoolkit

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import datetime
import numpy as np
import netCDF4 as nc4
import netCDF4
from netCDF4 import num2date
import numpy as np
import os
import pandas as pd
import nctoolkit as nc
import datetime
import os

#Reading Large Files 


---


Read Meta Data Information First


---

In [ ]:
%matplotlib inline
from netCDF4 import Dataset

In [ ]:
data = Dataset('/content/AVHRR_SST.0-fv02.1.nc', 'r')
# print some metadata
print(data)
data.close()

# Reading MetaData from DataSet in 3 Lines



---

In [ ]:
import xarray as xr

In [ ]:
import pandas as pd

 this dataset was renamed  to avhrr_sst

In [ ]:
data = xr.open_dataset('/content/AVHRR_SST.0-fv02.1.nc')
data

# Viewing data attributes and variables


---

In [ ]:
print(data.attrs)

In [ ]:
print(data.variables)

In [ ]:
# https://nctoolkit.readthedocs.io/en/latest/datasets.html

#Convert to Pandas DataFrame 



---

Different Ways:



*   Customizing Manual Iteration
*   Automated Conversion

In [ ]:
import pandas as pd


df = pd.DataFrame(data)
print(df)

In [ ]:
print(data['lat'])

## Plotting DataSet Variables 

---

In [ ]:
!pip install rioxarray

In [ ]:
import rioxarray
import xarray
import matplotlib.pyplot as plt

In [ ]:
fn = '/content/AVHRR_SST.0-fv02.1.nc'
#pr = rioxarray.open_rasterio(fn)

print(fn)

# Leafmap Integration 


---

In [ ]:
!pip install leafmap 
!pip install localtileserver

In [ ]:
import leafmap
filename = '/content/AVHRR_SST.0-fv02.1.nc'

# Reading directly with Leaflet


---

In [ ]:
data.dims

In [ ]:
data_two = leafmap.read_netcdf(filename)

In [ ]:
print(data_two)

# Convert the NetCDF


---



*   GeoTif
*   GeoJson
*   CSV

In [ ]:
tiff = '/content/AVHRR_SST.0-fv02.1.tiff'

In [ ]:
leafmap.netcdf_to_tiff(filename, tiff, variables=['analysed_sst', 'sea_ice_fraction'], shift_lon=True)

In [ ]:
print(tiff)

In [ ]:
geojson = '/content/AVHRR_SST.0-fv02.1.geojson'

In [ ]:
from osgeo import gdal
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from osgeo import gdal
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [ ]:
import leafmap.leafmap as leafmap
import leafmap.foliumap as leafmap

# Step 3:  Extract each time as a 2D pandas DataFrame and write it to the CSV file


---

# Step 4: Write to A DataTable 
---
4 Ways to Write and Rename a columns: 

* Time 
* latitude 
* longitude
* Value

In [ ]:
# Checking data is correctly identified
data

In [ ]:
# Calling paramter be passed into Naw Name
Data = pd.DataFrame(data)
Data

In [ ]:
# Calling paramter be passed into Naw Name
variables = pd.DataFrame(data.variables)
variables

### Renaming collumns 


---

In [ ]:
variables.columns = ['variables']
variables

### Read Array into Numpy Array


---

In [ ]:
tmax=data.variables['time'][:]#Reads the whole array
tmax
data.keys()

##  Create Path to Store Variables and Data 



---



---


*  Lat
*  Long

In [ ]:
lat_daymet_ds =data.variables["lat"][:]
lon_daymet_ds = data.variables['lon'][:]

lat_daymet_ds
tempa=data.variables['analysed_sst'][:]#Reads the whole array
tempa.values

data.head()

In [ ]:
temp = data.variables['analysed_sst'] [:]
temp

print(tempa[:])

In [ ]:
df_fourtytwo = pd.DataFrame(tempa.shape, columns = ["titleMe"])
df_fourtytwo

In [ ]:
from xarray.core.variable import Variable
from re import search
from numpy.core.fromnumeric import searchsorted
df77 = pd.DataFrame(tempData.analysed_sst[:], tempData, columns = ["Variables Values"])

In [ ]:
from numpy.ma.core import get_data
tempa_values  = get_data(data.[:][:])

data.variables
df77

In [ ]:
tempData = {
    'Variables' : ['analysed_sst', 'time', 'lat', 'lon'],
    'time' : ['time'],
    'temperature' : ['tempa_value'],
}

In [ ]:
dfObj = pd.DataFrame(tempData.items(), columns=['Variables', 'Date', ])
dfObj

In [ ]:
dfObj2 = pd.DataFrame.from_dict(tempData, orient='index')
dfObj2

idea = pd.DataFrame(df77[:], time,  columns = ["Variables", "time", "Year"])#Reads the whole array
idea




---



---


# üåà  ‚≠ê Extract The Temperature Set Data Points 



---



---

In [ ]:
temptime = pd.DataFrame.from_records(tempa.values[:][:])
temptime

In [ ]:
from pickle import LIST
temptime6 = list(tempa[:])

In [ ]:
temptime6[2][70][720]

In [ ]:
temp[:2]

In [ ]:
lat[2:717] 
time[2:717]
lon[2:717]
temp[2:717]
latrange = lat.to_index_variable()
latrange
temp_range = temp.to_index_variable
temp_range



---

In [ ]:
# NO IDEA WHATS HAPPENING HERE, HAVE TO GO BACK OVER IT

import nctoolkit as nc
ok5= nc.from_xarray(data)

#nc.open_url
#nc.anomaly(temp)
temptime.dtypes

In [ ]:
temptime4 = {
    'time': ['time'], 
    'lat': ['lat'], 
    'lon': ['lon']
    }

In [ ]:
# LOOKS LIKE IM CALLING TO EXTRACT TEMPERATURE

for i in temptime6[:][:][:]:
        print(*i)

temptime.describe()

In [ ]:
temptime.columns
temptime5 = temptime[710][:]
itslate = pd.Series(temptime5)
itslate2 =pd.DataFrame(itslate)
itslate2
itslate2.columns = ['tempature values']
itslate2.columns 
itslate2

temptime.at_time
for x in temptime:
    print(temptime.at_time)
    i = pd.DataFrame(time.dims)
    print(i)
    x = x-1

sst.dims
    #data.coords['time']



---

In [ ]:
temptime55 = temptime[710][:]
data.coords
temptime55
temptime65= pd.concat([date, temptime55])
temptime65

In [ ]:
temptime.describe()

In [ ]:
temptime[710][:3]

In [ ]:
temptime.hist

In [ ]:
temptime[719][2] #collumn, row

In [ ]:
dfObj2 = pd.DataFrame.from_dict(tempData, orient='index')
temptime3 = pd.DataFrame.from_records(tempa.values[:][:])

In [ ]:
import plotly as plt
import seaborn as sns

plt.colors(temptime[710])

In [ ]:
temptime.any



---

In [ ]:
import numpy as np 
import pandas as pd


index= ['SST', 'Lat', 'Long', 'Index', '--']
cols = ['Variables', 'Time', 'Max', 'Min']
df42 = pd.DataFrame(temptime[:],  ['SST', 'Lat', 'Long', 'Index', '--'][:]  ,['Variables', 'Time', 'Max', 'Min'][:])
temptimes.style.background_gradient(cmap='Blues')

In [ ]:
# WHAT IS THE DIFF HERE??? 
# GO BACK AND READ THIS BLOCK

index= ['SST', 'Lat', 'Long', 'Index', '--']
cols = ['Variables', 'Time', 'Max', 'Min']
temptime2 = pd.DataFrame(abs(tempatime3[710][2], index = index, columns = cols)))
temptime2.style.background_gradient(cmap='Blues')

## Renaming Columns in DataFrame


---

In [ ]:
# RENAMING THE COLUMN
date.columns = ['date']
date

# Creating the Variables


---



---

In [ ]:
lon = data.variables['lon']

lat = data.variables['lat']

time = data.variables['time']

sst = data.variables['analysed_sst']

In [ ]:
timedata=data.variables['time'][:]#Reads the whole array

In [ ]:
sstdata = data.variables['analysed_sst'][:]

In [ ]:
sstdata

In [ ]:
timedata

In [ ]:
timedata2 = pd.DataFrame(data.variables.items())
timedata3 = pd.DataFrame(data.variables.values())

In [ ]:
data.variables.values()

In [ ]:
timedata3

In [ ]:
timedata3.columns = ['timedata']
timedata3

# Creating a DataFrame 'DF' to CSV file


---

Setting Time/Temp Variables First

In [ ]:
temp = data.variables['analysed_sst']

In [ ]:
print(temp[0,1,1])

In [ ]:
temp

### Setting range of variables


---

In [ ]:
starting_date = data.variables['time'][0:1]

In [ ]:
starting_date

In [ ]:
ending_date = data.variables ['time'][2:3] + -12-23

In [ ]:
ending_date

# Time Date Time series


---



---



https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.11-Working-with-Time-Series.ipynb

In [ ]:
from datetime import datetime
datetime(year=2021, month=12, day=21)
from dateutil import parser
date = parser.parse("21st of December, 2021")
date

In [ ]:
date.strftime('%A')
np.datetime64('2021-12-21')

# Minutes 
np.datetime64('2021-12-21 12:00')

In [ ]:
date + pd.to_timedelta(np.arange(12), 'D')

#Pandas Time Series: Indexing by Time


---

In [ ]:
index = pd.DatetimeIndex(['2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31', '2022-01-01'])
date = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8 , 9, 10, 11], index=index)
date

In [ ]:
index
date

#3D Array into panda frame


---

In [ ]:
import pandas as pd
import numpy as np
A = np.arange(1, 9).reshape(2, 2, 2)
lable_one = np.array(['lat', 'ion'])
lable_two = np.array(['x', 'y'])
cols = pd.MultiIndex.from_product([lable_one, lable_two])

pd.DataFrame(A.T.reshape(2, -1), columns=cols)

In [ ]:
# Constructing Cartesian 4d array
data.dims

In [ ]:
import pandas as pd
import numpy as np


tempa_two = pd.DataFrame(A.T.reshape(2, -1), columns=cols)
temp_two = pd.DataFrame(analysizedsst[0:3:3][:])

In [ ]:
shape[:]

In [ ]:
tempa_two

In [ ]:
temp_two

# Renaming collumns & concating


---

In [ ]:
df7 = pd.DataFrame(index, columns = ['Date'], index =date)
df7

In [ ]:
df8 = pd.DataFrame(coordinates, columns = ['Variables'], index = coordinates)
df8

In [ ]:
df9 = pd.DataFrame(sstdata.to_index_variable, columns = ['sst'], index = index)
df9

In [ ]:
df91 = pd.DataFrame(data.analysed_sst.to_numpy, columns = ['sst'], index = index)
df91 = pd.DataFrame(sst.to_index, columns = ['sst'], index = index)
df91 = pd.DataFrame(sst.xarray)



# Creating A Collumn with the coordinates inside a dataframe



---

In [ ]:
coordinates = pd.DataFrame(data.coords)
coordinates

#Rename 


---

In [ ]:
coordinates.columns = ['coordinates']
coordinates

# Concat to add collumns inside dataframe together


---

In [ ]:
pd.concat([variables, coordinates], axis=0)

#Set this to a variable name for calling

In [ ]:
saved_frame_one= pd.concat([variables, coordinates], axis=0)
saved_frame_one

# How to convert dataframe to CSV

---

In [ ]:
saved_frame_one.to_csv('saved_frame_one.csv', index=False)

# How to convert to EXCEL sheet

In [ ]:
saved_frame_one.to_excel('saved_frame_one.xlsx', index=False)

#Reading CSV back to dataframe

In [ ]:
dfthree = pd.read_csv ('saved_frame_one.csv')
print(dfthree)

# Creating  A Collum with ' Time' inside a dataframe



---

In [ ]:
imag = pd.DataFrame(data.imag)
imag

In [ ]:
chunks = pd.DataFrame(data.chunks)
chunks

In [ ]:
savedframe= pd.concat([encoding, saved_frame_one], axis=0)
savedframe

In [ ]:
# Rename Collumns

In [ ]:
encoding.columns = ['DataVars']
encoding

In [ ]:
savedframe= pd.concat([encoding, saved_frame_one], axis=0)
savedframe



---


## Reading from CSV


---

In [ ]:
df = pd.read_csv('/content/saved_frame_one.csv')

# Array Units Set


---

In [ ]:
timedata = pd.DataFrame(data.coords)
timedata
data.coords['time']

#Date Time Indexing 


---

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Ion Data Set


---

In [ ]:
Iongitude= pd.DataFrame(data.lon)

In [ ]:
Iongitude

# Latidude


---

In [ ]:
Iatidude = pd.DataFrame(data.lat )

In [ ]:
Iatidude

# Testing Variable Names & Settings 


---

In [ ]:
data.analysed_sst.coords

In [ ]:
analysizedsst = pd.DataFrame(data.analysed_sst.coords)
analysizedsst

# Example of DataFrame Displays


---

In [ ]:
!pip install netcdftime

In [ ]:
data
data.coords
data.time.attrs

In [ ]:
import netCDF4 as nc
import datetime
import netcdftime

fn = '/content/20220401120000-NCEI-L4_GHRSST-SSTblend-AVHRR_OI-GLOB-v02.0-fv02.1.nc'
ds = nc.Dataset(fn)

nctime=ds['time'][:]
t_cal=ds['time'].calendar
t_unit = ds.variables['time'].units
datevar = []
datevar.append(netcdftime.num2date(nctime,units = t_unit,calendar = t_cal))
datevar

In [ ]:
from datetime import date
import pandas as pd
d = date.today()
pd.Timestamp(d)

## adding  collumns together

In [ ]:
pd.concat([Iongitude, Iatidude], axis = 1)

In [ ]:
Iatidude.columns = ['Iatidude']
Iatidude

In [ ]:
Iongitude.columns = ['Iongitude']
Iongitude

In [ ]:
latlong = pd.concat([Iongitude, Iatidude], axis = 1)

In [ ]:
latlong

In [ ]:
savedframe

In [ ]:
latlongtwo = pd.concat([latlong, savedframe], axis = 0)

In [ ]:
dfversion4 = pd.concat([ savedframe, latlong], axis = 0)

In [ ]:
dfversion4

In [ ]:
latlongtwo

In [ ]:
latlongtwo

In [ ]:
print(data.analysed_sst.units)

# Covering to excel sheet

In [ ]:
dfversion4.to_excel('dfversion4.xlsx', index=False)

In [ ]:
dfversion4.to_csv('dfversion4.csv', index=False)

In [ ]:
from google.colab import data_table
data_table.DataTable(analysizedsst)

In [ ]:
df3.columns

In [ ]:
df3.Iongitude.unique()

In [ ]:
df3_Iongitude = df3[df3['Iongitude']== '-179.875']

In [ ]:
df3_Iongitude

In [ ]:
data